nav {
    justify-content: space-between;
}
nav button {
    border: none;
    background-color: var(--bg-color);
    padding: 0;
}
nav button img {
    width: 26px;
}
.time-table {
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: 13px;
    margin-right: 11px;
}
.t-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.day {
    font-size: 30px;
    text-align: center;
    width: 30px;
}
.day span {
    display: block;
}
.t-body {
    position: relative;
}
.t-body-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 18px;
}
.t-body-row span {
    display: block;
} 
.work-time {
    position: absolute;
    z-index: 1;
    /* border: 1px solid var(--text-color); */
    box-sizing: border-box;
    padding-top: 166px;
    text-align: center;
    top: 128px;
    left: 73px;

    width: 289px;
    height: 353px;
    background-color: var(--button-color-op);
}
.today {
   background-color: var(--text-color); 
   color: var(--bg-color);
   border-radius: 8px;
   /* padding: 4px; */
   box-sizing: border-box;
}
.pop-up-add-date {
    display: none;
    position: absolute;
    top: 220px;
    left: 24px;
    z-index: 2;
    background-color: var(--button-color);
    border: 1px solid var(--bg-color);
    border-radius: 8px;
    box-sizing: border-box;

    width: 342px;
    height: 404px;
}
.header-text{
    font-size: 28px;
    margin-top: 16px;
    margin-left: 16px;
}
.picker-block {
    margin-left: 46px;
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 22px;
}
.time-picker {
    margin: 10px 40px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.buttons-block {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    margin: 0 40px;
}
.buttons-block button{
    width: 120px;
    border: none;
    border-radius: 8px;
}
.cancel {
    padding: 8.5px 23px;
    color: var(--accent-color);
    background-color: var(--bg-color);
}
.confirm {
    padding: 8.5px 10.5px;
    background-color: var(--accent-color);
    color: var(--bg-color);
}
.time {
    margin-top: 10px;
    margin-left: 46px;
    font-size: 22px;
}
input[type=date] {
    width: 250px;
}
input[type=time] {
    width: 100px;
}
input[type=date], input[type=time]{
    font-size: 18px;
    font-family: 'Poiret One', cursive;
    /* width: 100px; */
    padding: 12px 10px;
    margin-top: 10px;
    /* margin: 8px 0; */
    display: inline-block;
    border: none;
    border-radius: 8px;
    background-color: var(--button-color);
    box-sizing: border-box;
}