.search-form {
    padding-top: 20px;
    margin-bottom: 28px;
}
.search {
    border-radius: 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #979797;
    margin: 20px 8px;
    width: 98%;
}
h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 8px 16px;
}
.card {
    line-height: 24px;
    margin-bottom: 36px;
}
.card a {
    text-decoration: none;
    color: black;
}
.card img {
    width: 100%;
}
h3 {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
}
.kitchen {
    color: #626262;
    font-size: 14px;
}
.time {
    font-size: 13px;
}
